﻿@{
    ViewBag.Title = "Dashboard";
}
<br />
<br />
<div class="row" style="align-items:center;  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <div>

        <hr />
        <p>
            <iframe style="position: absolute; top:0; left: 0;  width: 100%;  height: 100%;" width="1800" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiNDRjOWNkYTUtY2QwMC00ODljLWI4NWEtZjgwYjE4NTY1NmY0IiwidCI6IjlhNDE0ZDgzLTEwY2EtNDQ2Zi1hNjQwLTI2MTg5YWE3NGQxMCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

        </p>
    </div>

</div>